<div>
    <table>
         <tr>
             <th>id</th>
             <td><input type="text" v-model="post.id"></td>
         </tr>
         <tr>
             <th>title</th>
             <td><input type="text" v-model="post.title"></td>
         </tr>
         <tr>
             <th>userId</th>
             <td><input type="text" v-model="post.userId"></td>
         </tr>
         <tr>
             <th>body</th>
             <td>
                 <textarea v-model="post.body" />
             </td>
         </tr>
    </table>
 </div>